{% if user.is_authenticated %}

{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}AgroLife{% endblock %}</title>
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <div class="sidebar">
    <div class="logo">
      <i class='bx bxs-florist menu-toggle-icon'></i>
      <span class="logo-text">AgroLife</span>
    </div>
    <ul class="menu">
      <li class="menu-item">
        <i class='bx bx-grid-alt menu-toggle-icon'></i>
        <span class="title">Dashboard</span>
      </li>
      <li class="menu-item has-submenu">
        <div class="menu-link">
          <i class='bx bx-columns menu-toggle-icon'></i>
          <span class="title">Cadastro</span>
          <i class='bx bx-chevron-down dropdown-icon'></i>
        </div>
        <ul class="submenu">
          <li class="submenu-item"><a href='{% url 'listaboi' %}'> Animal </a></li>
          <li class="submenu-item"><a href='{% url 'listacurral' %}'>Curral</a></li>
          <li class="submenu-item"><a href='{% url 'listalote' %}'>Lote</a></li>
          <li class="submenu-item"><a href='{% url 'listamedicamento' %}'>Medicação</a></li>
        </ul>
      </li>
      <li class="menu-item has-submenu">
        <div class="menu-link">
          <i class='bx bx-compass menu-toggle-icon'></i>
          <span class="title">Manejo</span>
          <i class='bx bx-chevron-down dropdown-icon'></i>
        </div>
        <ul class="submenu">
          <li class="submenu-item"><a href='{% url 'listamanejo_filtrada' 'entrada' %}'>Entrada</a></li>
          <li class="submenu-item"><a href='{% url 'listamanejo_filtrada' 'movimentacao' %}'>Movimentação</a></li>
          <li class="submenu-item"><a href='{% url 'listamanejo_filtrada' 'saida' %}'>Saída</a></li>
          <li class="submenu-item"><a href='{% url 'listamovimentacao' %}'>Movimentações de Lote/Curral</a></li>
        </ul>
      </li>
      <li class="menu-item has-submenu">
        <div class="menu-link">
          <i class='bx bx-heart menu-toggle-icon'></i>
          <span class="title">Sanidade</span>
          <i class='bx bx-chevron-down dropdown-icon'></i>
        </div>
        <ul class="submenu">
          <li class="submenu-item"><a href='{% url 'listaaplicacao' %}'>Aplicação Individual</a></li>
          <li class="submenu-item"><a href='{% url 'listaprotocolo' %}'>Protocolo Sanitário</a></li>
        </ul>
      </li>
      <li class="menu-item has-submenu">
        <div class="menu-link">
          <i class='bx bxs-ambulance menu-toggle-icon'></i>
          <span class="title">Ronda</span>
          <i class='bx bx-chevron-down dropdown-icon'></i>
        </div>
        <ul class="submenu">
          <li class="submenu-item"><a href='{% url 'listamorte' %}'>Registrar Morte</a></li>
          <li class="submenu-item"><a href='{% url 'criarboi' %}'>Registrar Nascimento</a></li>
        </ul>
      </li>
      <li class="menu-item has-submenu">
        <div class="menu-link">
          <i class='bx bx-line-chart menu-toggle-icon'></i>
          <span class="title">Relatórios</span>
          <i class='bx bx-chevron-down dropdown-icon'></i>
        </div>
        <ul class="submenu">
          <li class="submenu-item">Histórico Animal</li>
          <li class="submenu-item">Doenças Recorrentes</li>
          <li class="submenu-item">Animais Medicados</li>
          <li class="submenu-item"><a href='{% url 'relatoriomedia' %}'>Animais Manejados</a></li>
        </ul>
      </li>
      <li class="menu-item">
        <i class='bx bx-log-out menu-toggle-icon'></i>
        <span class="title"><a href="{% url 'logout' %}" class="submenu-link">Sair</a></span>
      </li>
    </ul>
  </div>

  <div class="main-content">
    {% block content %}
    {% endblock %}
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/inputmask/5.0.8/inputmask.min.js"></script>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const sidebar = document.querySelector('.sidebar');
  
      const toggleSidebar = () => {
        sidebar.classList.toggle('collapsed');
  
        if (sidebar.classList.contains('collapsed')) {
          document.querySelectorAll('.submenu').forEach(submenu => {
            submenu.classList.remove('open');
          });
        }
      };
  
      document.querySelectorAll('.menu-toggle-icon').forEach(icon => {
        icon.addEventListener('click', toggleSidebar);
      });
  
      document.querySelectorAll('.has-submenu .menu-link').forEach(link => {
        link.addEventListener('click', () => {
          if (!sidebar.classList.contains('collapsed')) {
            const submenu = link.nextElementSibling;
            submenu.classList.toggle('open');
          }
        });
      });
  
      // Máscara de telefone
      const telInput = document.querySelector('input[name="telefone"]');
      if (telInput) {
        Inputmask({"mask": "(99) 99999-9999"}).mask(telInput);
      }
    });
  </script>
  
  
</body>
</html>

{% endif %}