{% extends 'base.html' %}

{% block title %}Excluir Movimentação{% endblock %}

{% block content %}
<div class="form-container">
  <h2>Confirmação de Exclusão</h2>
  <p>Tem certeza de que deseja excluir a movimentação realizada em <strong>{{ movimentacao.data_movimentacao }}</strong>, do lote <strong>{{ movimentacao.lote_origem }}</strong> para o lote <strong>{{ movimentacao.lote_destino }}</strong> no curral <strong>{{ movimentacao.curral_destino }}</strong>?</p>

  <form method="post">
    {% csrf_token %}
    <div class="form-actions">
      <a href="{% url 'listamovimentacao' %}" class="botao-acao botao-limpar">Cancelar</a>
      <button type="submit" class="botao-acao botao-morte">Confirmar Exclusão</button>
    </div>
  </form>
</div>
{% endblock %}
