{% extends "base.html" %}

{% block content %}
<div class="form-container">
    <h2>Criar Curral</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="form-grid">
            {# Itera sobre os campos do formulário para manter a flexibilidade #}
            {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
            </div>
            {% endfor %}
        </div>
        
        <div class="form-actions">
            <button type="submit" class="botao-acao botao-adicionar"> Cadastrar </button>
            <a href="{% url 'listacurral' %}" class="botao-acao botao-limpar"> Cancelar </a>
        </div>
    </form>
</div>
{% endblock %}