{% extends 'base.html' %}

{% block title %}Excluir Curral{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Confirmação de Exclusão</h2>
    <p>Tem certeza que deseja excluir o curral <strong>{{ object.nome_curral }}</strong>?</p>

    <div class="form-actions">
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="botao-acao botao-morte">Sim, Excluir</button>
            <a href="{% url 'listacurral' %}" class="botao-acao botao-limpar">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}

