{% extends 'base.html' %}

{% block title %}Detalhes do Curral{% endblock %}

{% block content %}

<div class="detail-card">
    <h1>{{ curral.nome }}</h1>
    <p><strong>Peso Mínimo:</strong> {{ curral.peso_min }}</p>
    <p><strong>Peso Máximo:</strong> {{ curral.peso_max }}</p>
    <p><strong>Capacidade Máxima:</strong> {{ curral.capacidade_max }}</p>
    <p><strong>Tipo de Curral:</strong> {{ curral.curral_type.tipo_curral }}</p>
    <div class="buttons-container">
        <a href="{% url 'atualizacurral' pk=object.pk %}" class="btn btn-primary">Editar</a>
        <a href="{% url 'deletacurral' pk=object.pk %}" class="btn btn-secondary">Excluir</a>
        <a href="{% url 'listacurral' %}" class="btn btn-danger">Voltar</a>
    </div>
</div>

{% endblock %}