{% extends "base.html" %}

{% block content %}

<div class="main-container">
    <form method="post" enctype="multipart/form-data" class="form-card">
        {% csrf_token %}
        <h1>Editar Boi</h1>
        
        <table>
            
            {{ form.as_table }}
            
        </table>
        <div>
            <div class="buttons-container">
                <input type="submit" value="Cadastrar" class="btn btn-primary">
                <a href="{% url 'listaboi' %}" class="btn btn-secondary"> Cancelar </a>
            </div>
        </div>
    </form>
</div>

{% endblock %}